<h1><%= header_index_page(@user, @rel_type.pluralize) %></h1>

<div class="my-container">
  <div class="list-group">
    <% @studyships.each do |studyship| %>
      <div class="student">
        <%= link_to studyship.send("#{@rel_type}").appearance, user_path(studyship.send("#{@rel_type}")), class: "list-group-item list-group-item-action studyships" %>
        <%= form_tag user_studyship_path(@user, @rel_type.pluralize, studyship), method: "DELETE", class: "remove-student"  do %>
          <%= submit_tag "Remove", class: "red-button", data: { disable_with: "Removing..." } %>
        <% end %>
        <div class="student-error"></div>
      </div>
    <% end %>
  </div>

  <% if @rel_type == "student" %>
    <%= link_to "New Requests from Students" + requests_notification, requests_path, class: "load-requests gray-button" %>
  <% end %>

  <div class="loader"></div>
  <div id="new-requests"></div>
  <div class="requests-error"></div>
  <div class="no-requests"></div>
</div>

<script id="student-template" type="text/x-handlebars-template">
  <div class="student">
    <a class="list-group-item list-group-item-action studyships" href="/users/1">{{student.appearance}}</a>
    <form class="remove-student" action="/users/{{teacher.id}}/students/{{studyship_id}}" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="_method" value="delete">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= submit_tag "Remove", class: "red-button", data: { disable_with: "Removing..." } %>
    </form>
  </div>
</script>

<script id="requests-template" type="text/x-handlebars-template">
  <ul>
    {{#each this}}
      {{> requestPartial this}}
    {{/each}}
  </ul>
</script>

<script id="request-partial" type="text/x-handlebars-template">
  <li id="request_{{id}}" class="request">
    <a href="/users/{{student.id}}" class="my-link">{{student.appearance}}</a>

    <form class="accept button_to" method="post" action="/users/{{student.id}}/teachers">
      <%= submit_tag "Accept", data: { disable_with: "Accepting..." }, class: "btn btn-success" %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="hidden" name="request_id" value="{{id}}">
    </form>

    <form class="decline button_to" method="post" action="/requests/{{id}}">
      <input type="hidden" name="_method" value="delete">
      <%= submit_tag "Decline", data: { disable_with: "Declining..." }, class: "btn btn-danger" %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>

    {{#if description}}
      <h3>Description</h3><p>{{description}}</p>
    {{/if}}

    <div class="request-error"></div>
  </li>
</script>
