<div class="field">
  <%= f.label :first_name, "First name(REQUIRED)" %>
  <%= f.text_field :first_name %>

<div class="field">
  <%= f.label :last_name, "Last name(REQUIRED)" %>
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :phone_number %>
  <%= f.telephone_field :phone_number %>
</div>

<div class="field">
  <%= f.label :age %>
  <%= f.number_field :age %>
</div>

<div class="field">
  <%= f.label :study_place %>
  <%= f.text_field :study_place %>
</div>

<div class="field">
  <%= f.label :degree %>
  <%= f.text_field :degree %>
</div>

<div class="field">
  <%= f.label :interests %>
  <%= f.text_area :interests %>
</div>
