<li id="comment_<%= comment.id %>" class="comment">
  <p><%= comment.author.appearance  %> - <%= comment.content %></p>
  <div class="links">
    <% if policy(comment).update? %>
      <!-- TODO -->
      <%= link_to "Update", comment_path(comment), method: 'PATCH', class: "update-comment btn btn-primary" %>
    <% end %>

    <% if policy(comment).destroy? %>
      <%= form_tag comment_path(comment), method: "DELETE", class: "delete-comment" do %>
        <%= submit_tag "Delete", class: "btn btn-danger", data: { disable_with: "Deleting..." } %>
      <% end %>
    <% end %>
  </div>

  <div class="comment-error"></div>
</li>
