<li class="comment">
  <p><%= comment.author.appearance  %> - <%= comment.content %></p>
  <div class="links">
    <% if policy(comment).update? %>
      <!-- TODO -->
      <%= link_to "Update", comment_path(comment), method: 'PATCH', class: "update-comment btn btn-primary" %>
    <% end %>

    <% if policy(comment).destroy? %>
      <%= form_tag comment_path(comment), method: "DELETE", class: "delete-comment" do %>
        <%= hidden_field_tag :lesson_id, comment.lesson.id %>
        <%= submit_tag "Delete", class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </div>
</li>
