<li id="comment_<%= comment.id %>" class="comment">
  <div class="flex-container">

    <div class="flex-block flex-container-info">
      <div class="flex-block avatar-comment">
      </div>
      <div class="flex-block info">
        <p class="appearance"><%= comment.author.appearance %></p>
        <p class="created_at"><%= comment.created_at %></p>
      </div>
    </div>

    <div class="flex-block">
      <div class="links">
        <% if policy(comment).update? %>
          <a href="#" class="update-comment my-link" data-id="<%= comment.id %>">Update</a>
        <% end %>

        <% if policy(comment).destroy? %>
          <%= form_tag comment_path(comment), method: "DELETE", class: "delete-comment" do %>
            <%= submit_tag "Delete", class: "delete-comment-button", data: { disable_with: "Deleting..." } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <p class="content"><%= comment.content %></p>

  <div class="comment-error"></div>
</li>
