<%= form_for comment do |f| %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <%= f.hidden_field :lesson_id, value: lesson_id %>
  <%= f.submit %>
<% end %>
