<div class="my-container">

  <%= render 'profiles/profile', profile: @user.profile %>

  <p>E-mail: <%= @user.email %></p>

  <% if policy(@user.profile).update? %>
    <%= link_to 'Edit Profile', edit_profile_path, class: "my-link" %>
  <% end %><br>

  <% if @user == current_user %>
    <%= link_to 'Edit Credentials', edit_user_registration_path, class: "my-link" %><br><br>
  <% end %>

  <p><%= link_for_user_lessons(@stub_lesson) %><p>
  <div class="lesson-by-categories-error"></div>
  <div class="lessons-by-categories"></div>
</div>

<script id="lessons-by-categories-template" type="text/x-handlebars-template">
  <ul class="categories">
    {{#each this}}
      <li class="category-li">
        <a href="#" onclick="return false;" class="category-title">{{@key}}</a>
        <ul class="category-lessons">
          {{#each this}}
            <li class="category-lesson"><a class="lesson-link" href="/users/{{this.user_id}}/lessons/{{this.id}}">{{title}}</a></li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</script>
