<%= form_for Request.new do |f| %>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: 80, rows: 3, class: "form-control" %><br>
  </div>

  <%= f.hidden_field :teacher_id, value: @stub_lesson.user.id %>

  <div class="form-group">
    <%= f.submit "Add as a Teacher", class: "btn btn-primary" %>
  </div>
<% end %>
