<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<section>
  <fieldset>
    <legend>Attachments. Size < 2 MB, permitted formats: pdf, excel files, pptx, doc, docx</legend>
  </fieldset>
  <div class="form-group">
    <%= f.file_field :doc1 %>
  </div>

  <div class="form-group">
    <%= f.file_field :doc2 %>
  </div>

  <div class="form-group">
    <%= f.file_field :doc3 %>
  </div>
</section>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, cols: 120, rows: 10, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, cols: 120, rows: 30, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :links %>
  <%= f.text_area :links, cols: 120, rows: 10, class: "form-control" %>
</div>
