<h1>Lesson: <%= @lesson.title %></h1>
<h1>Author: <%= link_to @lesson.user.email, user_path(@lesson.user) %></h1>
<h3>Category: <%= @lesson.category.title %></h1>

<div class="">
  <h3>Description</h3>
  <pre><%= @lesson.description %></pre>
</div>

<div class="">
  <h3>Content</h3>
  <pre><%= @lesson.content %></pre>
</div>

<div class="">
  <h3>Links</h3>
  <pre><%= @lesson.links %></pre>
</div>

<% if policy(@lesson).update? %>
  <%= link_to 'Edit', edit_user_lesson_path(@lesson.user, @lesson) %>
<% end %>
<% if policy(@lesson).destroy? %>
  <%= link_to 'Delete', user_lesson_path(@lesson.user, @lesson), method: 'delete', data: { confirm: "Are you sure?" } %>
<% end %>
