<div class="info-container">
  <div class="loader"></div>
  <p class="lesson-error"></p>
</div>

<div class="lesson-container">
</div>

<script id="lesson-template" type="text/x-handlebars-template">
  <article>
    <div class="flex-container">
      <div>
        <a href="#" class="prev-lesson my-link"><< Previous Lesson</a>
      </div>
      <div>
        <a href="#" class="next-lesson my-link">Next Lesson >></a>
      </div>
    </div>
    <h1 id="title"><strong>{{title}}</strong></h1>

    <h3 id="author">
      <a href="/users/{{author.id}}" class="my-link">
        <div class="avatar-title" style="background-image: url({{author.avatar_url}});"></div>
        {{author.appearance}}
      </a>
    </h3>

    <h3 id="category"><a href="/categories/{{category.id}}" class="my-link">{{category.title}}</a></h3>

    <div class="attachments">
      {{#if doc1.exists}}
        <a class="doc" href="{{doc1.url}}">{{doc1.name}}</a>
      {{/if}}
      {{#if doc2.exists}}
        <a class="doc" href="{{doc2.url}}">{{doc2.name}}</a>
      {{/if}}
      {{#if doc3.exists}}
        <a class="doc" href="{{doc3.url}}">{{doc3.name}}</a>
      {{/if}}
    </div>

    <div class="lesson">
      <p id="description"><em>{{description}}</em></p>
      <p id="content">{{content}}</p>
      <h3 id="resources">Resources</h3>
      <h3 id="links">Links</h3>
      <p>{{links}}</p>

      <div class="lesson-links">
        {{#if can_update}}
          <a href="/users/{{author.id}}/lessons/{{id}}/edit" class="gray-button">Edit</a>
        {{/if}}
        {{#if can_destroy}}
          <a href="/users/{{author.id}}/lessons/{{id}}" class="red-button" data-confirm="Are you sure?" data-method="delete">Delete</a>
        {{/if}}
      </div>
    </div>
  </article>
</script>

<script id="comments-template" type="text/x-handlebars-template">
  <section id="comments-section">
      <h2>Comments</h2>
      <div class="comment-form">
        <form class="new_comment" id="new_comment" action="/comments" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="✓">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <div class="form-group">
            <%= label_tag "comment_content", "Create New Comment" %>
            <%= text_area_tag "comment[content]", nil, rows: 6, class: "form-control" %>
          </div>

          <input value="{{id}}" type="hidden" name="comment[lesson_id]" id="comment_lesson_id">
          <%= submit_tag "Create Comment", data: { disable_with: "Creating..." }, class: "gray-button comment-action-button" %>
        </form>
      </div>

      <div id="create-comment-error"></div>

      <ul id="comments">
        {{#each comments}}
          {{> commentPartial this}}
        {{/each}}
      </ul>
  </section>
</script>

<script id="comment-partial" type="text/x-handlebars-template">
  <li id="comment_{{id}}" class="comment">
    <div class="flex-container">
      <div class="flex-block flex-container-info">
        <a href="/users/{{author.id}}">
          <div class="flex-block avatar-comment" style="background-image: url({{author.avatar_url}});"></div>
        </a>
        <div class="flex-block info">
          <p class="appearance"><a href="/users/{{author.id}}" class="my-link">{{author.appearance}}</a></p>
          <p class="created_at">{{created_at}}</p>
        </div>
      </div>
      <div class="flex-block">
        <div class="links">
          {{#if can_update}}
            <a href="#" class="update-comment my-link" data-id="{{id}}">Update</a>
          {{/if}}
          {{#if can_destroy}}
            <form class="delete-comment" action="/comments/{{id}}" accept-charset="UTF-8" method="post">
              <input name="utf8" type="hidden" value="✓">
              <input type="hidden" name="_method" value="delete">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= submit_tag "Delete", class: "delete-comment-button", data: { disable_with: "Deleting..." } %>
            </form>
          {{/if}}
        </div>
      </div>
    </div>

    <p class="content">{{content}}</p>

    <div class="comment-error"></div>
  </li>
</script>

<script id="update-comment-template" type="text/x-handlebars-template">
  <div data-id="{{id}}">
    <form class="form-update-comment" action="/comments/{{id}}" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="_method" value="PATCH">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
        <textarea name="comment[content]" id="comment_content", rows="6", class="form-control">{{content}}</textarea>
      </div>
      <%= submit_tag "Update", class: "gray-button", data: { disable_with: "Updating..." } %>
      <a href="#" class="red-button" id="cancel-update-comment">Cancel</a>
    </form>
  </div>
</script>
