<h1><%= @lesson.title %></h1>
<h1>Author: <%= link_to (@lesson.author.appearance), user_path(@lesson.author), class: "my-link" %></h1>
<h3>Category: <%= link_to @lesson.category.title, category_path(@lesson.category), class: "my-link" %></h1>

<%= show_field_for(@lesson, :description, "h3", "p", "lesson-fields") %>
<%= show_field_for(@lesson, :content, "h3", "p", "lesson-fields") %>
<%= show_field_for(@lesson, :links, "h3", "p", "lesson-fields") %>

<% if policy(@lesson).update? %>
  <%= link_to 'Edit', edit_user_lesson_path(@lesson.author, @lesson), class: "btn btn-primary" %>
<% end %>
<% if policy(@lesson).destroy? %>
  <%= link_to 'Delete', user_lesson_path(@lesson.author, @lesson), method: 'delete', class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
<% end %>

<section>
  <div class="comment-form">
    <%= render 'comments/form', comment: @comment, lesson_id: @lesson.id %>
  </div>

  <div id="create-comment-error"></div>

  <ul id="comments">
    <%= render partial: 'comments/comment', collection: @comments %>
  </ul>
</section>

<script id="comment-template" type="text/x-handlebars-template">
  <li id="comment_{{id}}" class="comment">
    <p>{{author.full_name}} - {{content}}</p>
    <div class="links">
      <!-- TODO -->
      <a class="btn btn-primary" rel="nofollow" data-method="PATCH" href="/comments/{{id}}">Update</a>

      <form class="delete-comment" action="/comments/{{id}}" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="delete">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= submit_tag "Delete", class: "btn btn-danger", data: { disable_with: "Deleting..." } %>
      </form>
    </div>

    <div class="comment-error"></div>
  </li>
</script>
