<h1><%= @lesson.title %></h1>
<h3>Category: <%= @lesson.category.title %></h1>

<div class="">
  <h3>Description</h3>
  <pre><%= @lesson.description %></pre>
</div>

<div class="">
  <h3>Content</h3>
  <pre><%= @lesson.content %></pre>
</div>

<div class="">
  <h3>Links</h3>
  <pre><%= @lesson.links %></pre>
</div>
