<!DOCTYPE html>
<html>
  <head>
    <title>StudyHelper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_tag 'div', flash[:notice] if flash[:notice] %>
    <%= content_tag 'div', flash[:alert] if flash[:alert] %>
    <%= content_tag 'div', flash[:error] if flash[:error] %>

    <%= yield %>
  </body>
</html>
