<!DOCTYPE html>
<html>
  <head>
    <title>StudyHelper</title>
    <%= csrf_meta_tags %>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, mininum-scale=1.0, maximum-scale=1.0"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>

    <div class="container">
      <%= content_tag 'div', flash[:notice] if flash[:notice] %>
      <%= content_tag 'div', flash[:alert] if flash[:alert] %>
      <%= content_tag 'div', flash[:error] if flash[:error] %>

      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
