<!DOCTYPE html>
<html>
  <head>
    <title>StudyHelper</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, mininum-scale=1.0, maximum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/flashes' %>

    <% if params[:action] != "home" %>
      <div class="container">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <%= render 'layouts/footer' %>
  </body>
</html>
