<!DOCTYPE html>
<html>
  <head>
    <title>StudyHelper</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, mininum-scale=1.0, maximum-scale=1.0">

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>

    <% if params[:action] != "home" %>
      <div class="container">
        <%= content_tag 'div', flash[:notice], class: "alert alert-success" if flash[:notice] %>
        <%= content_tag 'div', flash[:alert], class: "alert alert-danger" if flash[:alert] %>
        <%= content_tag 'div', flash[:error], class: "alert alert-danger" if flash[:error] %>
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
